<h1>Create a new joke</h1>

<div class="form-group">
  <label for="new-joke-content">Joke content: </label> <br>
  <textarea ng-model="jokeTextArea" id="new-joke-content" rows="10" cols="70" #jokeContent> </textarea>
  
  <br>
</div>

<div class="form-group">
    <label for="new-joke-category">Joke category</label>
    
    <select class="form-control" id="new-joke-category"
        required
        #category>
            <option *ngFor="let jokeCat of categories" [value]="jokeCat">{{jokeCat}}</option>
    </select>
</div>

<!-- (click) passes input value to add() and then clears only the input of textarea -->
  <button type="button" class="add-button" 
    (click)="add(jokeContent.value, category.value); jokeContent.value=''">
    Add Joke
  </button>